html, body {
    height: 100vh;
}
body, button{
    background-color: #eef4f4;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#output{
    color: #a739f6; 
    font-size: 3rem;
}
.container{
    background-color: #00f4f4;
    padding: 10px;
    width: 30%;
    min-width: 200px;
    max-width: 350px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #ae98be;
}
.counting{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.container-btn{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
button{
    border: 3px solid #a739f6;
    background-color: #e0c2f4;
    color: #fff;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    color: #a739f6; 
    transform: scale(1.2,1.2);
}
button:active{color: #a739f6;}